<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>You have been alerted!</h1>
<p>
  You have received a new message:
</p>
<blockquote>
  <p>
    <%= raw @message.long_msg %>
  </p>
</blockquote>
<p>
  Visit <%= link_to root_url, root_url %> and go to your inbox for more info.
</p>
</body>
</html>