*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/log/*.lck
spec/dummy/tmp/
spec/dummy/.project
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
log/*.log
pkg/
**.tmp_*
.idea
.project
.document
.settings/
.yardoc/*
.rvmrc